<p id="notice"><%= notice %></p>



<h1>
  <%= @post.title %>
</h1>

<p>
  <%= @post.body %>
</p>

<p>
  <strong>Uploads:</strong> <br/>
  <% if @post.photos.attached? %>
    <% @post.photos.each do |photo| %>
      <%= image_tag(photo, width: 400) %> <br/>
    <% end %>
  <% else %>
    <p>no photos</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
